################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/dev/obj/Debug
/Code/dev/bin/Debug
/Code/dev
